.jasa-go-digital {

}

.jasa-go-digital .section1 {

}

.jasa-go-digital .section1 .foto-utama {
    width: 37.917vw;
    height: 42.222vw;
    flex-shrink: 0;
    margin-left: 32.5vw;
    margin-top: 3vw;
}

.jasa-go-digital .section1 h1 {
    color: #000;
    font-family: Poppins;
    font-size: 3.125vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 3vw;
}

.jasa-go-digital .section1 p {
    width: 68.264vw;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1.736vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 14vw;
    margin-top: 3vw;
}

.jasa-go-digital .section2 .point-div {
    margin-top: 5vw;
}

.jasa-go-digital .section2 .point svg {
    margin-left: 13vw;
    width: 6.944vw;
    height: 6.944vw;
}

.jasa-go-digital .section2 .point h1 {
    color: #000;
    font-family: Poppins;
    font-size: 4.861vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 2vw;
}

.jasa-go-digital .section2 .point p {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1.736vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1vw;
}

.jasa-go-digital .section2 .fitur-div{
    margin-top: 7vw;
}

.jasa-go-digital .section2 .fitur-div .fitur {
    width: 17.153vw;
    height: 19.444vw;
    flex-shrink: 0;
    border-radius: 1.528vw;
    background: #FFF;
    box-shadow: 0 0 1.389vw 0 rgba(0, 0, 0, 0.10);
}

.jasa-go-digital .section2 .fitur-div .fitur svg{
    margin-top: 2vw;
    margin-left: 2vw;
    width: 4.653vw;
    height: 4.653vw;
}

.jasa-go-digital .section2 .fitur-div .fitur p{
    width: 12.708vw;
    color: #000;
    font-family: Poppins;
    font-size: 1.292vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3.5vw;
    margin-left: 2vw;
}

.jasa-go-digital .section2 .harga-title {
    margin-top: 5vw;
    color: #CA5116;
    font-family: Poppins;
    font-size: 2.431vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.jasa-go-digital .section2 .harga {
    margin-top: 2vw;
    width: 46.875vw;
    height: 4.722vw;
    border-radius: 1.389vw;
    border: 1px solid #CA5116;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 2.431vw;
    font-style: normal;
    margin-left: 25.5vw;
    line-height: normal;
    padding-top: 0.5vw;
}

.jasa-go-digital .section3 .button-mau {
    margin-top: 8vw;
    width: 100%;
    height: 6.944vw;
    background: #000;
}

.jasa-go-digital .section3 .button-mau:hover {
    background-color: #ca5115;
}

.jasa-go-digital .section3 .button-mau h1{
    color: white;
    text-align: center;
    font-family: Poppins;
    font-size: 2.431vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 1.8vw;
}